@import url('https://fonts.googleapis.com/css?family=PT+Sans|Titillium+Web:300,400,600');

body {
	padding-top:100px;
	background:#edeeef;
    background-size: cover;  
	background-position: center;
	font-family: Lato;
	color: black;
	height:100%;
	font-family: 'PT Sans', sans-serif;

 	
}
.all-frm label{
	color:#333;
}
#cnt-blk{
	border:solid 1px #e4e4e4;
	float:left;
	padding:10px;
	background:white;
	width:100%;
	color:black;
	
}
#id_timing{
    padding: 0;
    float: left;
    display: block;
    width: 100%;
      
	
}
#id_timing label{
   width:100%;
      
	
}
#id_timing li{
   float:left;
   width:35px;
   margin-right:20px;
      
	
}
#id_features{
   padding: 0;
    float: left;
    display: block;
    width: 100%;
	
      
	
}
#id_features label{
	
   width:100%;
      
	
}
#id_features li{
   float:left;
   width:45px;
   margin-right:20px;
      
	
}


input{
	max-width:100%;
}
#cnt-blk h3,#cnt-blk h5{
	
	color:black;
	
}
.container.splash{
display: table;height: 100%;vertical-align: middle;
}
.container.splash .row {
display: table-cell; vertical-align: middle;
}

html {
    height: 100%;
}
nav{
	background:white !important;
	border-color:transparent !important;
	color:black;
	box-shadow:0px 1px 9px rgba(0, 0, 0, 0.31);
	font-family: 'Titillium Web', sans-serif;

	
	
}
.navbar-brand{
	font-weight:bold;
	font-size:25px;
	text-transform:uppercase;
		color:blue !important;

}
nav li a{
	color:#c1c1c1 !important;
	
}
nav li a:hover{
	color:blue !important;
	
}
nav li.active a {
  background-color:transparent !important;
  color:white !important;
}

.wrap-functions{
	float:left;
	width:100%;
	background:white;
	border:1px solid #bdbdbd;
	border-radius:2px;
	padding:30px 0px;
	
}
.wrap-body{
	float:left;
	width:100%;
	border-radius:2px;
	
}

.wrap-body .block-tile{
	float:left;
	width:100%;
	background:white;
	border:1px solid #bdbdbd;
	position:relative;
	margin-top:30px;
	color:black!important;
	
	
}
.wrap-body .block-tile .del{
	
	position:absolute;
	right:3px; top:1px;
	display:block;
	color:white;
	
	
	
}


.link1{
	text-decoration:none;
	color:black;
	
}
.link1:hover .block-tile{
border:solid 1px yellow;

}
.wrap-body .block-tile .classname{
	float:left;
	width:100%;
	background:blue;
	color:white;
	padding:25px 5px;
	text-align:center;
}
.wrap-body .block-tile .info{
	float:left;
	width:100%;
	background:white;
	padding:25px 5px;
}
.wrap-body .block-tile .info .conduct{
	float:left;
	width:100%;
	padding:0px 5px;
}
.wrap-body .block-tile .info .desc{
	float:left;
	width:100%;
	padding:0px 5px;
}