{% load staticfiles %}

<html>

<head>
    <title>Chat Panel</title>

    <link rel="stylesheet" href="{% static 'chat.css' %}">

 <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href='{%static "css/app.css" %}'/>

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" >

  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">chat</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
     
	  <li> {% if user.is_authenticated %}
	  <a href="#">  {{ user.username }}</a></li>
	  

     <li>  <a href="{% url 'logout' %}"> logout</a></li>
	 <li><a href="/functions">Functions <i class="fa fa-user-plus"></i></a></li>
       {% else %}
	 
	   <li><a href="/register">Signup <i class="fa fa-user-plus"></i></a></li>
       <li><a href="{% url 'login' %}">Signin <i class="fa fa-user"></i></a></li>
       {% endif %}
	   
	   </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<section id="banner">
   <div class="container">
   <div class="row">
<div class="wrap main">
 <h1><b>{{object.Title}}</b></h1>
{{object.description}}
	<h4> Conducted by </h4> {{object.instructor}}
	<h4> Date </h4> {{object.date}}
	<h4> Timings </h4> {{object.From}} -
   	{{object.to}}
   </div>
   
   </div>
   	</div>
</section>




   <section>
      <div class="container">
   <div class="row">
   <div class="wrap">
    <div  id="chat-body" class="panel panel-default">
        
        <div id="msg-list-div" class="panel-body">
            <ul id="msg-list" class="list-group">
                
                <script>
                    var chatlist = document.getElementById('msg-list-div');
                    chatlist.scrollTop = chatlist.scrollHeight;
                </script>
            </ul>
        </div>
    </div>

    <form id="chat-form" method="post" action="/post/" enctype="multipart/form-data">{% csrf_token %}
        <div id="chat-bottom" class="input-group">
            <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
           <!-- <input type="file" id="chat-file" name="chat-file" class="form-control"/>-->
			<span class="input-group-btn">
                <input class="btn btn-default" id="send" type="submit" value="Send"/>
            </span>
        </div>
    </form>
	</div>
	</div>
	</div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'chat.js' %}"></script>
</body>
</html>