{% extends 'base.html' %}
html>
<head>

{% block content %}
{% load staticfiles %}
   <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href='{%static "css/app.css" %}'/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body bgcolor="#3367d6">

<div class="container splash auth">
    <div class="row">
	
       <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12 ">
	   <h2>Sign in</h2>
            <div class="login-panel panel panel-default">
                <div class="panel-body">    

   	 
 

<form method="post" class="form-horizontal" >{% csrf_token %}

   <div class="form-group"><a href="{% url 'social:begin' 'google-oauth2' %}">Google+</a></div>
{% load widget_tweaks %}
{{form.errors }}
   <div class="form-group"><label  class="col-md-3">username:</label><div class="col-md-9"> {{ form.username|add_class:"form-control"|attr:"placeholder:Enter Username"}}{{ form.username.errors }}</div></div>
   <div class="form-group"><label class="col-md-3">password:</label><div class="col-md-9">{{ form.password|add_class:"form-control"|attr:"placeholder:Enter Password"}}{{ form.password.errors }}</div></div>
   
    <input class="btn btn-primary btn-block" type="submit" value="Submit" />
</form>
 <a href="/register" class="btn btn-primary btn-block">Sign up</a></a>

{% endblock %}
</div>
</div>
</div>
</div>
</div>
{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

  
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </body>

</html>
