
{% for obj in chat %}
    {% if obj.user == request.user %}
	
        <li class="text-right list-group-item"><div class="block" style="float:right">
            <div class="circle">
                <p>{{ obj.user|make_list|first}}</p>
            </div>
        </div><div style="float:right; width:100%;">{{ obj.message }}</div><br><br>{{obj.created}}</li>
    {% else %}
        <li class="text-left list-group-item">
		<div class="block">
            <div class="circle">
                <p>{{ obj.user|make_list|first}}</p>
            </div>
        </div>

		
		<h4>  &nbsp;{{ obj.user}}</h4>{{obj.message}}{{ obj.Image}} <br>{{ obj.created }}</li>
    {% endif %}
{% empty %}
    <li class="text-right list-group-item">No messages yet!</li>
{% endfor %}

