
{% for obj in chat %}
    {% if obj.user == request.user %}
	
        <li class="text-right list-group-item"><div class="block" style="float:right">
            <div class="circle">
                <p>{{ obj.user|make_list|first}}</p>
            </div>
        </div>
		<h4>  &nbsp;{{ obj.user}}</h4>
		
		
		<div style="float:left; width:100%;text-align:justify"><div style="width:auto;float:right;text-align:justify">{{ obj.message }}</div></div><br>{{obj.created}}</li>
    {% else %}
        <li class="text-left list-group-item">
		<div class="block">
            <div class="circle">
                <p>{{ obj.user|make_list|first}}</p>
            </div>
        </div>

		
		<h4>  &nbsp;{{ obj.user}}</h4><div style="float:left; width:100%;text-align:left"><div style="width:auto;float:left;">{{obj.message}}</div></div> <br>{{ obj.created }}</li>
    {% endif %}
{% empty %}
    <li class="text-right list-group-item">No messages yet!</li>
{% endfor %}

