<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Chat app</title>
 {% load staticfiles %}
 <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href='{%static "css/app.css" %}'/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


</head>
<body >
<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  href="#">chat</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
     
	  <li> {% if user.is_authenticated %}
      <a href="#">  {{ user.username }}</a></li>
     <li>  <a href="{% url 'logout' %}"> logout</a></li>
       {% else %}
	   <li><a href="/register">Signup <i class="fa fa-user-plus"></i></a></li>
       <li><a href="{% url 'login' %}">Login <i class="fa fa-user"></i></a></li>
       {% endif %}
	   
	   </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel"
 aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            <h4 class="modal-title">Delete Parmanently</h4>
        </div>
        <div class="modal-body" style="height: 75px">
            <p>Are you sure about this ?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a  id="del" class="btn btn-danger"  id="confirm-delete-ok">Ok
            </a>
        </div>
    </div>
</div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">User List</h4>
      </div>
      <div class="modal-body">
	  <select onchange="location=this.value">
	    <option disabled="disabled" selected="true">
		
		Select User
		</option>    
			{% for obj in users %}
			
	  <option value="{% url 'user_edit' obj.id %}">{{obj.username}}
---
		{% if obj.profile.utype == '1'%} 
             		Admin 
		{% endif %}
        {% if obj.profile.utype == '2'%} 
             		Teacher 
		{% endif %}
		{% if obj.profile.utype == '3'%} 
             		Student 
		{% endif %}
		</option> 
{% endfor %}
</select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	
<div class="container">
<div class="row">
{% if user.profile.utype == '1'%}
<div class="col-md-12">
<div class="wrap-functions">
<div class="col-md-4 col-xs-12 text-center">
<a href="/create" class="btn btn-primary btn-lg" style="width:100%">Create Class </a>
</div>
<div class="spacer visible-xs" >&nbsp;</div>
<div class="col-md-4 col-xs-12 text-center">
<a href="#" class="btn btn-primary btn-lg" style="width:100%" data-toggle="modal" data-target="#myModal">Change Profile  </a></a>
</div>
<div class="spacer visible-xs" >&nbsp;</div>
<div class="col-md-4 col-xs-12 text-center">
<a href="/Ainvites" class="btn btn-primary btn-lg" style="width:100%" >Send Invites </a>
</div>
</div>
</div>
<div class="clearfix"></div> 
<div class="col-md-12">
<div class="row">
<br>
<div class="text-center"><h1>Upcoming Classes</h1></div>
<div class="wrap-body">
{% for obj in chat %}
<div class="col-md-6">



<div class="block-tile">
<a class="del" data-id= {{obj.id }}  data-toggle="modal" data-target="#confirmDelete"><i class="fa fa-remove"></i></a>

<a href='{% url "home" obj.id %}'class="link1">

<div class="classname">
<h5>{{ obj.Title }}</h5>
</div>
<div class="info">
<div class="conduct">
<h4><b>Conducted By: </b>{{ obj.instructor }}</h4>
<p><b>Schedule: </b> On {{ obj.date }} from {{ obj.From }} to {{ obj.to }}</p>
</div>
<div class="desc">
<p>{{ obj.description|truncatechars:150}}</p>
</div>
</div>
</a>
</div>

</div>

<!-- end of col6 -->
   {% empty %}
    <li style="color:red">No Classes</li>
    {% endfor %} 
</div>

</div>
</div>
{% endif %}


<div class="clearfix"></div>
		<br>
	<br>
{% if user.profile.utype == '3' or user.profile.utype == '' %}
<div class="col-md-12">
<div class="wrap-functions">
<div class="col-md-4 col-xs-12 text-center">
<a href="/create1" class="btn btn-primary btn-lg">Attend Class </a>
</div>
<div class="spacer visible-xs" >&nbsp;</div>
<div class="col-md-4 col-xs-12 text-center">
<a href="/Ateacher1" class="btn btn-primary btn-lg">Invite Student </a></a>
</div>
<div class="spacer visible-xs" >&nbsp;</div>
<div class="col-md-4 col-xs-12 text-center">
<a href="/Ainvites1" class="btn btn-primary btn-lg">Pay for Class </a>
</div>
</div>
</div>
<div class="col-md-12">
<div class="row">
<br>
<div class="text-center"><h1>Upcoming Classes</h1></div>
<div class="wrap-body">
{% for obj in chat %}
<div class="col-md-6">



<div class="block-tile">


<a href='{% url "home" obj.id %}'class="link1">

<div class="classname">
<h5>{{ obj.Title }}</h5>
</div>
<div class="info">
<div class="conduct">
<h4><b>Conducted By: </b>{{ obj.instructor }}</h4>
<p><b>Schedule: </b> On {{ obj.date }} from {{ obj.From }} to {{ obj.to }}</p>
</div>
<div class="desc">
<p>{{ obj.description|truncatechars:150}}</p>
</div>
</div>
</a>
</div>

</div>

<!-- end of col6 -->
   {% empty %}
    <li style="color:red">No Classes</li>
    {% endfor %} 
</div>

</div>
</div>
{% endif %}

</div>
</div>
<div class="clearfix"></div>
		<br>
	<br>
	{% if user.profile.utype == '2'%}
<div class="col-md-12">
<div class="wrap-functions">
<div class="col-md-4 col-xs-12 text-center">
<a href="/create12" class="btn btn-primary btn-lg">Send Invites </a>
</div>
<div class="spacer visible-xs" >&nbsp;</div>
<div class="col-md-4 col-xs-12 text-center">
<a href="/Ateacher12" class="btn btn-primary btn-lg">Request to change class </a></a>
</div>
<div class="spacer visible-xs" >&nbsp;</div>
<div class="col-md-4 col-xs-12 text-center">
<a href="/Ainvites12" class="btn btn-primary btn-lg">Add Student </a>
</div>
</div>
</div>
<div class="col-md-12">
<div class="row">
<br>
<div class="text-center"><h1>Upcoming Classes</h1></div>
<div class="wrap-body">
{% for obj in chat %}
<div class="col-md-6">



<div class="block-tile">


<a href='{% url "home" obj.id %}'class="link1">

<div class="classname">
<h5>{{ obj.Title }}</h5>
</div>
<div class="info">
<div class="conduct">
<h4><b>Conducted By: </b>{{ obj.instructor }}</h4>
<p><b>Schedule: </b> On {{ obj.date }} from {{ obj.From }} to {{ obj.to }}</p>
</div>
<div class="desc">
<p>{{ obj.description|truncatechars:150}}</p>
</div>
</div>
</a>
</div>

</div>

<!-- end of col6 -->
   {% empty %}
    <li style="color:red">No Classes</li>
    {% endfor %} 
</div>

</div>
</div>
{% endif %}

</div>
</div>
</div>
</div>
<div class="clearfix"></div>
		<br>
	<br>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script>

  $("input,select").addClass("form-control");
  

   </script>
   

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(function () {
        $(".del").click(function () {
            var my_id_value = $(this).data('id');
			
            $("#del").attr("href","/delete/"+ my_id_value);
        })
    });
</script>
 </body>

</html>
