<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>chat</title>
 {% load staticfiles %}
 <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href='{%static "css/app.css" %}'/>
<link rel="stylesheet" type="text/css" href='{%static "css/cloud.css" %}'/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body style="background:url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/XLW01-d/abstract-geometric-triangle-background-in-endless-loop-loopable-polygons-floating-in-organic-way-blue-version_vj0l8g1ne__F0000.png')">
<nav class="navbar navbar-default navbar-fixed-top" >

  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">chat</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
     
	  <li> {% if user.is_authenticated %}
	  <a href="#">  {{ user.username }}</a></li>
	  
	 
	  
      
     <li>  <a href="{% url 'logout' %}"> logout</a></li>
	 <li><a href="/functions">Functions <i class="fa fa-user-plus"></i></a></li>
       {% else %}
	 
	   <li><a href="/register">Signup</a></li>
       <li><a href="{% url 'login' %}">Signin</a></li>
       {% endif %}
	   
	   </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>





<!--
So we will have an animated background with 5 clouds moving across the screen.
Steps: 
1. create the clouds
2. Animate them to move across the screen
3. Stylize the clouds(can be done as step #2 also)
--><div class= "container splash" >
<div class= "row">


<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 text-center">
 <h1>Chat app </h1>
</div>



<!-- Thats the markup! -->
<!-- That looks cool. We are done!! -->





</div>
</div>










 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </body>

</html>
